@model ML.Medicamento
@{
    ViewBag.Title = "GetAll2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Lista de Medicamentos</h2>

<div class="text-center">
    <table>
        <thead>
            <tr>
                <th>Editar</th>
                <th>IdMedicamento</th>
                <th>Medicamento</th>
                <th>Descricpion</th>
                <th>Presentacion</th>
                <th>Dosis</th>
                <th>Laboratorio</th>
                <th>Fecha de Caducidad</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach(ML.Medicamento medicamento in Model.Medicamentos)
            {
                <tr>
                    <td><a href="@Url.Action("Delete", "Medicamento", new {IdMedicamento = medicamento.IdMedicamento})" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i></a></td>
                    <td>@medicamento.IdMedicamento</td>
                    <td>@medicamento.Nombre</td>
                    <td>@medicamento.Descripcion</td>
                    <td>@medicamento.Presentacion.NombrePresentacion</td>
                    <td>@medicamento.Dosis</td>
                    <td>@medicamento.NombreLaboratio</td>
                    <td>@medicamento.FechaCaducidad</td>
                    <td><a href="@Url.Action("Delete", "Medicamento", new {IdMedicamento = medicamento.IdMedicamento})" class="btn btn-outline-danger"><i class="bi bi-capsule-pill"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

